.loading {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0 0;
}

.postContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 10rem;
  margin: 1.5rem 0 0 0;
}

.fileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fakeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  min-width: 3rem;
  border: none;
  border-radius: 5rem;
  margin: 0 0.5rem;
  background-color: var(--first-button-color);
  box-shadow: 0 10px 10px -10px var(--shadow-color);
  font-size: var(--font-size);
  cursor: var(--cursor-pointer);
}

.file {
  display: none;
}

.fileText {
  margin-right: 15px;
  margin-top: 15px;
  text-align: center;
}

.calendarContainer {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  height: 3rem;
}

.type {
  display: flex;
}

.lastColumn {
  display: flex;
  align-items: center;
}

.input,
.date,
.time {
  background-color: var(--second-button-color);
  display: flex;
  border: none;
  width: 7.5rem;
  height: 3rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
  font-size: var(--font-size);
}

.button {
  height: 3rem;
  width: 7.5rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  background-color: var(--first-button-color);
  box-shadow: 0 10px 10px -10px var(--shadow-color);
  font-size: var(--font-size);
}

.button:hover,
.fakeInput:hover {
  background-color: var(--first-button-color-hover);
}

.button:disabled,
.fakeInput:disabled {
  background-color: var(--first-button-color-disabled);
}

.schedule {
  padding: 0 0.75rem;
}

.table {
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: 5rem 0 3rem 0;
}

.input:hover,
.time:hover {
  background-color: var(--second-button-color-hover);
}

.input:disabled,
.time:disabled {
  background-color: var(--second-button-color-disabled);
}

@media screen and (max-width: 1175px) {
  .input,
  .time,
  .fakeInput {
    margin: 0.75rem;
  }
  .lastColumn {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .postContainer {
    flex-direction: column;
  }
  .input,
  .time,
  .button,
  .fakeInput {
    margin: 0.5rem 0;
  }
  .lastColumn {
    flex-direction: column;
  }
}
