@import "../../colors.css";

.content {
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  border: 4px solid #f0f0f0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 4px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerTable {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 0.75rem 1rem;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 16px;
}

.columnHeader {
  flex: 1;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.empty {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 0.25rem 0;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
}

.download {
  width: 2.5rem !important;
  height: 2.5rem !important;
  border-radius: 5rem !important;
}

.tableCell {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customPagination li {
  display: flex;
  list-style-type: none;
  margin: 0 0.5rem;
}

.button,
.backButton,
.downloadButton {
  min-height: 3.25rem;
  min-width: 3.25rem;
  width: auto;
  padding: 0 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--first-button-color);
  box-shadow: 0 10px 10px -10px var(--shadow-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.25rem;
  min-width: 3.25rem;
  border: none;
  border-radius: 5rem;
  /* margin: 0 1.5rem; */
  background-color: var(--first-button-color);
  box-shadow: 0 10px 10px -10px var(--shadow-color);
}

.downloadButton {
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0.75rem 0;
  box-shadow: 0 10px 10px -10px var(--shadow-color);
}

.backButton {
  min-height: 2.5rem;
}

.button:hover,
.backButton:hover,
.downloadButton:hover {
  background-color: var(--first-button-color-hover);
}

.button:disabled,
.backButton:disabled,
.downloadButton:disabled {
  background-color: var(--first-button-color-disabled);
  cursor: default;
}

.tableRow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 750px) {
  .container {
    width: 90vw;
    margin: 0 auto;
  }

  .tableHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .columnHeader {
    padding: 5px;
  }

  .tableCell {
    padding: 5px;
  }

  .button,
  .backButton,
  .downloadButton {
    width: 80%;
    padding: 0.5rem 1rem;
  }
}
