:root {
  --font-size: 1rem;
}

body {
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.AppBody {
  flex-grow: 1;
  padding: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 1000;
  gap: 1rem;
}

.controls button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.invert-colors {
  filter: invert(70%);
}

.grayscale {
  filter: grayscale(100%);
}

@media screen and (min-width: 1800px) {
  .App {
    background: linear-gradient(
      0deg,
      rgba(204, 34, 41, 0.1516981792717087) 0%,
      rgba(255, 255, 255, 1) 17.5%,
      rgba(159, 197, 77, 0.14609593837535018) 100%
    );
  }
}

@media screen and (max-width: 1799px) {
  .App {
    background: linear-gradient(
      270deg,
      rgba(204, 34, 41, 0.1516981792717087) 0%,
      rgba(255, 255, 255, 1) 17.5%,
      rgba(159, 197, 77, 0.14609593837535018) 100%
    );
  }
}
